main{
    background-color: $color-fondo;

    .hero{
            text-align: center;
            width: 100%; height: 500px;
            background-image: url(../img/hero.png);
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            background-attachment:fixed;
            padding: 50px;

        h1{
            color: $color-principal;
            justify-content: end;
            padding: 20px;
            font-size: nth($font-size, 18);
        }
        p{
            color: $color-secundario;
            padding:30px;
            font-size: nth($font-size, 5);
            .animate__animated.animate__bounce {
            --animate-duration: 2s;
        }
        :root {
            --animate-duration: 800ms;
            --animate-delay: 0.9s;
        }
        }
        
        button{
            background-color: $color-principal;
            border-radius: 10px;
            border: solid 3px $color-terciario;
            padding: 30px;

            a{
                list-style: none; 
                color: $color-terciario;
            }
        }
    }

    .presentacion{
        h2{
            color: $color-secundario;
            text-decoration: underline;
            text-align: center; padding: 30px;
        }
        p{
            color: $color-detalles; 
            text-align: justify;
            padding: 10px 90px;
        }
        .texto{
            text-align: center;
        }
    }

    .datosimportantes{
        h2{
            color: $color-secundario;
            text-decoration: overline;
            text-align: center;
            padding: 20px 0 0 0 ;
        }
        .datosimportantes-container{
            @extend %flex;
            .card{
                text-align: center;
                margin: 30px 50px;
                .card-body{
                    h3{
                        color: $color-secundario;
                    }
                }
            }
        }
    }

    .servicios{
        section{
            h2{
                color: $color-secundario;
                text-decoration: underline;
                text-align: center; 
                padding: 30px;
            }
            p{
                text-align: center;
            }
            ul{
                background-color: $color-terciario; 
                padding: 30px;
                margin: 20px 150px;
                li{
                    color: $color-principal;
                    text-align: center;
                    list-style: none;
                    padding: 8px;
                }
                li:hover{
                    color:$color-secundario;}
            }
        }
    }

    .disenosunas{
        div{
            h2{
                color: $color-secundario;
                text-decoration: underline;
                text-align: center; 
                padding: 30px;
            }
        }

        .container{
            div{
                .justificado{
                    text-align: center;
                }
            

                div{
                    .carousel-inner{
                        .carousel-item{
                            img{
                                display: block; 
                                margin-left: auto;
                                margin-right: auto; 
                                width: 100%; 
                                max-width: 100%; 
                                height: auto; 
                            }
                        }
                    }
                }
            }
        }
    
        .manos{
            text-align: center; 
            padding: 20px 100px;
        }}

    .disenopelo{
        section{
            h2{
                color: $color-secundario;
                text-decoration: underline;
                text-align: center; 
                padding: 30px;
            }
        }

        .pelo{
            text-align: center; 
            padding: 20px 100px; 
            background-color: $color-terciario; 
            padding: 30px;
            margin: 20px 150px; 

            div{
                h3{
                    color: $color-secundario; 
                    text-align: center;
                    padding: 20px;
                    text-decoration:underline;
                    font-size: nth($font-size, 5);
                }
            }
        }
    }
    

    .disenoojos{
        section{
            h2{
                color: $color-secundario;
                text-decoration: underline;
                text-align: center; 
                padding: 30px;
            }
        }

        .pestañas{
            background-color: $color-terciario; 
            padding: 30px;
            margin: 20px 150px;
            h3{
                color: $color-secundario; 
                text-align: center;
                padding: 20px; 
                text-decoration:underline;
                font-size: nth($font-size, 5);
            }
            .container{
                section{
                    div{
                        p{ text-align: center;
                            margin: 20px;}
                    }
                }
            }
        }

        .cejas{
            background-color: $color-terciario; 
            padding: 30px;
            margin: 20px 150px;
            h3{
                color: $color-secundario; 
                text-align: center;
                padding: 20px; 
                text-decoration:underline;
                font-size: nth($font-size, 5);
            }
        }
    }
}